#life {
  border: solid 1px;
  /* width: 1000px;
  height: 1000px; */
  /* justify-content: center; */
  cursor: crosshair;
}

p {
  margin: 10px 0px 10px 0px;
}
body {
  margin: 10px 0px 0px 10px;
}
.pos {
  display: inline;
  margin-top: 0px;
}
